/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	font-size: 62.5%;
		height:100%;
}
body {
	height:100%;
	background:#6b1f0c;
	color:#fff;
	font-size:22pt;

}

.navigation{
	border:1px solid #fff;
	width:99%;
	float:left;
	clear:both;
	
}
.level0,.level1,.level2,.files{
	width:245px;
	float:left;
	clear:none;
	padding-right:0px;
	margin-right:1rem;
	margin-top:-10px;
	padding-top:4rem;
	line-height:5.5rem;
	border-right:3px solid rgba(235,235,235,0.2);
}
.level0 .name a,
.level0 .name a:link,/*lord*/
.level0 .name a:visited,/*vaders*/
.level0 .name a:focus,/*former*/
.level0 .name a:hover,/*handel:*/
.level0 .name a:active,/*Anakin*/
.level1 .name a,
.level1 .name a:link,
.level1 .name a:visited,
.level1 .name a:focus,
.level1 .name a:hover,
.level1 .name a:active,
.level2 .name a,
.level2 .name a:link,
.level2 .name a:visited,
.level2 .name a:focus,
.level2 .name a:hover,
.level2 .name a:active{
		font-size:18pt;
	text-decoration:none;
	color:#ccc;
	text-shadow: 2px 2px #000000;
	padding:2rem 1rem 1rem 1rem;
	margin:2rem 1rem 1rem 1rem;
}

.files .file a,
.files .file a:link,
.files .file a:visited,
.files .file a:hover,
.files .file a:focus,
.files .file a:active{
	color:#fff;
}
.files{
	margin:1rem;
	padding:1rem;
	height:60%;
	border-right: 0px solid #000;
	width:738px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(41%,rgba(255,255,255,0.41)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.41) 41%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.41) 41%,rgba(255,255,255,1) 100%);
	-moz-border-radius: 25px;
	border-radius: 25px;
	
}
.file {
	float:left;
	clear:none;
	width:200px;
	height:228px;
	border:1px solid #fff;
	line-height:2.0rem;
}
.file img{
	float:left;
	clear:both;
	margin:0 auto 0 auto!important;
	width:200px;
	height:99px;


}

.file p.name{
	text-align:center;
	margin:1rem;	
	font-size:16pt;
}
.file p.description{
	text-align:center;
	font-size:13pt;
}
.topBanner{
	width:100%;
	overflow:hidden;
}
.topBannerImg{
	width:100%;

	}
.active a{
		font-size:100pt;
		color:#fff!important;
	}
@media only screen and (min-width: 480px) {
	body{
		background: #000000;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(28%,#160a05), color-stop(74%,#602d15), color-stop(100%,#a34523));
		background: -webkit-linear-gradient(top,  #000000 0%,#160a05 28%,#602d15 74%,#a34523 100%);
		background: linear-gradient(to bottom,  #000000 0%,#160a05 28%,#602d15 74%,#a34523 100%);
			
	}
}
@media only screen and (min-width: 960px) {
	
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 2048px) {
	.topBannerImg{
		content:url("./images/topBanner-2048w.png");

	}
}